.ce_heroimage {
    margin-top: 0;
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    background-color: #292b2c;
    background-repeat: no-repeat, no-repeat;
    background-size:cover;
    background-position: center;
}

.ce_heroimage .heroimage-content-box {
    width: 100%;
    padding: 2vw 10vw;
}

.ce_heroimage .heroimage-headline-box > * {
    color: #fff;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1vw !important;
    text-align: center;
}

.ce_heroimage .heroimage-text-box > p {
    color: #fff;
    text-align: center;
}

.ce_heroimage .heroimage-headline-box > * {
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.ce_heroimage .heroimage-text-box > p, .ce_heroimage .heroimage-button-box .btn {
    font-size: 1rem;
    line-height: 2rem;
}

@media (min-width: 48em) {
    .ce_heroimage .heroimage-headline-box > * {
        font-size: 2.8rem;
        line-height: 3.6rem;
    }

    .ce_heroimage .heroimage-text-box > p, .ce_heroimage .heroimage-button-box .btn {
        font-size: 1.2rem;
        line-height: 2.4rem;
    }
}
@media (min-width: 90em) {
    .ce_heroimage .heroimage-headline-box > * {
        font-size: 4.2rem;
        line-height: 5rem;
    }

    .ce_heroimage .heroimage-text-box > p, .ce_heroimage .heroimage-button-box .btn {
        font-size: 1.4rem;
        line-height: 2.8rem;
    }
}
@media (min-width: 120em) {
    .ce_heroimage .heroimage-headline-box > * {
        font-size: 4.6rem;
        line-height: 5.4rem;
    }

    .ce_heroimage .heroimage-text-box > p, .ce_heroimage .heroimage-button-box .btn {
        font-size: 1.8rem;
        line-height: 3.6rem;
    }
}

.ce_heroimage .heroimage-button-box {
    margin: 1rem 0;
    text-align: center;
}


.ce_heroimage .heroimage-button-box .btn {
    background-color: transparent !important;
    border: 2px solid #eee !important;
    color: #eee !important;
    padding-bottom:0;
    padding-top:0;
}

.ce_heroimage .heroimage-button-box .btn:hover {
    background-color: #fff !important;
    border: 2px solid #fff !important;
    color: #000 !important;
}
