.ce_heroimage .heroimage-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    background-color: #292b2c;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-position: center;
    display: flex !important;
}

.ce_heroimage .heroimage-background-overlay {
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: flex-start;
}

.ce_heroimage.contentbox-left .heroimage-background-overlay {
    justify-content: flex-start;
}

.ce_heroimage.contentbox-right .heroimage-background-overlay {
    justify-content: flex-end;
}

.ce_heroimage.contentbox-center .heroimage-background-overlay {
    justify-content: center;
}

.ce_heroimage .heroimage-content-box {
    min-width: 300px;
    width: 30%;
    padding: 0.5rem;
    background-color: #d00d00;
    opacity: .7;
}

.ce_heroimage.contentbox-white .heroimage-content-box {
    background-color: #fff;
    opacity: .8;
}

.ce_heroimage .heroimage-headline-box > * {
    color: #fff;
    margin-top: 0;
    margin-bottom: 1.5vw !important;
    text-align: center;
    font-weight: 400;
}

.ce_heroimage.contentbox-white .heroimage-headline-box > * {
    color: red;
}

.ce_heroimage .heroimage-text-box > p {
    color: #dcdcdc;
    font-weight: normal;
    text-align: center;
}

.ce_heroimage.contentbox-white .heroimage-text-box > p {
    color: #000;
}

.ce_heroimage .heroimage-headline-box > * {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
}

.ce_heroimage .heroimage-text-box > p, .ce_heroimage .heroimage-button-box .btn {
    font-size: 1rem;
    line-height: 1.5rem;
}

@media (min-width: 48em) {
    .ce_heroimage .heroimage-content-box {
        padding: 1rem;
    }
}

@media (min-width: 90em) {
    .ce_heroimage .heroimage-content-box {
        padding: 1.5rem;
    }

    .ce_heroimage .heroimage-headline-box > * {
        font-size: 2rem;
        font-weight: 400;
        line-height: 3rem;
    }

    .ce_heroimage .heroimage-text-box > p, .ce_heroimage .heroimage-button-box .btn {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}

@media (min-width: 120em) {

}

.ce_heroimage .heroimage-button-box {
    margin: 1rem 0 0 0;
    text-align: center;
}

.ce_heroimage .heroimage-button-box .btn {
    background-color: #fff;
    color: red;
    border-color: transparent;
    padding-left: 3rem;
    padding-right: 3rem;
}

.ce_heroimage.contentbox-white .heroimage-button-box .btn {
    background-color: red;
    color: #fff;
}

.ce_heroimage .heroimage-button-box:hover .btn {
    background-color: #000;
    color: #fff;
}


